<!-- <div><app-author-view></app-author-view></div>

<table style="width: 100%;">
  <tr>
    <td><app-section-outline></app-section-outline></td>
    <td><app-ckeditor></app-ckeditor></td>
    <td><app-right-menu></app-right-menu></td>
  </tr>
</table> -->
<router-outlet></router-outlet>
<!-- <div class="wrapper">
  <header class="main-head">The header</header>
  <div class="main-nav">
    <app-section-outline></app-section-outline>
  </div>
  <article class="content">
    <app-ckeditor></app-ckeditor>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
    <h1>Main article area</h1>
    <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two
      column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.
    </p>
  </article>
  <aside class="side">Sidebar</aside> -->
  <!-- <div class="ad">Advertising</div> -->
  <!-- <footer class="main-footer">The footer</footer> -->
<!-- </div> -->